<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-FullStack</title>
</head>
<body>
    <h1>Hello World with Luong Huy</h1>
</body>
</html>